/**/

/*
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); */
/* make transparent link selection, adjust last value opacity 0 to 1.0 */


html, body {
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
}


#map {
    height: 100%;
	width: 100%;
}

#menu-button { position:absolute; top:20px; left:10px; }
#goal-button { position:absolute; bottom:70px; right:10px; }
#location-button { position:absolute; bottom:25px; right:10px; }
.btn-floating.white i { color: #9e9e9e; }

#goal-button.tracking { bottom:105px; }
#location-button.tracking { bottom:60px; }

#goal-modal-row { margin-bottom:0; }
#goal-modal-content { padding-bottom:0; }
#goal-modal-add { margin-right:10px; margin-bottom:10px; }

#map-modal {
    background-color: #fff;
    max-height: 100%;
}
#map-modal .modal-close {
    position: absolute;
	right: 0;
	top: 0;
	padding: 4px 18px;
	height: 36px;
	line-height: 36px;
    color: #757575;
}
#map-modal h4 {
    font-size: 14px;
    padding: 18px;
    color: #616161;
    margin: 0;
    font-weight: bolder;
}

#map-overlay-list .collection {
    border: none;
    margin: 0;
    margin-bottom: 16px;
}
#map-overlay-list .collection-item {
    color: #616161;
    font-size: 13px;
    line-height: 24px;
    vertical-align: middle;
    border: none;
}
#map-overlay-list .collection-item .material-icons {
    height: 24px;
    line-height: 24px;
    margin-right: 12px;
    width: 24px;
    vertical-align: middle;
}
#map-overlay-list .collection-item.active {
    background-color: inherit;
    color: #1976d2;
}

#map-base-list {
    border-top: 1px solid #e0e0e0;
}

/* #slide-out .user-view { padding-top: 36px; } */
.track-nav {
    display: none;
}
#slide-out li>a {
    padding: 0 16px;
}
#slide-out .user-view .circle {
    height: 54px;
    width: 54px;
}

#footer-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    display: none;
    box-shadow: 0 -4px 4px 0 rgba(0,0,0,0.02);
}

#footer-bar div {
    display: inline-block;
    width: 24%;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    vertical-align: middle;
    color: #757575;
    font-size: 12px;
    line-height: 12px;
}

#footer-bar div span {
    color: #212121;
    font-size: 20px;
    line-height: 20px;
}

#goal-info.modal.bottom-sheet {
    max-height: 100%;
}
.goal-edit-form {
    display: none;
    border-top: 1px solid #ccc;
    margin-top: 24px;
    padding-top: 10px;
}

.goal-edit-form .row {
    margin: 0;
}
#goal-info .goal-edit-form input {
    margin-bottom: 10px;
}
.goal-edit-form-footer {
    text-align: center;
}
.goal-edit-form-footer .btn {
    margin-top: 10px;
    width: 90%;
}


